# The Battle of Neighborhoods

## Find Location for setting up Pet Store in Bangkok, Thailand

#### Started week 1 here.......
### 1. BACKGROUND
Nowadays in Thailand, pets are a part of life. The society has joined the elderly. Older people have fewer children, making pets as friends or replacing them. The number of pets in Thailand grew and the benefits to the pet-related business is growing. 

Overall, the pet business in the year 2017 was valued at US$862 millions, growth up 10% from year 2016. The animal feed business has the largest share of 45%, followed by animal health care 32% and other related products such as clothing, accessories, toys 23%.

Pet store where to sale animal food and related products has 68% of market share and trend to growth up. This business is very interesting and a lot of opportunities. 

If someone looking for somewhere to open pet store in Bangkok. Can we recommend the potential place to open it?.

So, this project will find a the potential place for setting up the Pet Store. It helps to reduce time to find location and increase the chance of success.

### 2. DATA
Location is an important factor in doing business. Besides the convenient, then there are two things to consider. 

1. Customer demanding
   From the American Veterinary Medical Association(AVMA),
show the number of pet-owning households around 50% of number of household, more detail here https://www.avma.org/KB/Resources/Statistics/Pages/Market-research-statistics-US-pet-ownership.aspx
Although, no statistic report in Thailand, but it can concluded that number of household is associated with the number of pet-owning household. The area that high number of household is more demand in pet store than the area that low number of household. 

2. Competition 
    A lot of competitor in the area is effect to sales. So, if we find somewhere that less competitive it is good to do the business and increase chance of success. 

From above reason, we require

#### 2.1 Borough, Neighborhood and Coordinates(latitude/longitude)
Borough, Neighborhood and Coordinates(latitude/longitude) of Bangkok, got from here https://data.go.th/Default.aspx. It provided latitude/longitude data of city in Thailand.

In [1]:
import pandas as pd
import numpy as np
DF = pd.read_excel('data/TAMBON.xlsx')
DF.head(10)

,AD_LEVEL,TA_ID,TAMBON_T,TAMBON_E,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG
0,4,100101,แขวง พระบรมมหาราชวัง,Phra Borom Maha Ratchawang,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.751,100.492
1,4,100102,แขวง วังบูรพาภิรมย์,Wang Burapha Phirom,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.744,100.499
2,4,100103,แขวง วัดราชบพิธ,Wat Ratchabophit,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.750,100.499
3,4,100104,แขวง สำราญราษฎร์,Samran Rat,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.751,100.503
4,4,100105,แขวง ศาลเจ้าพ่อเสือ,San Chaopho Suea,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.754,100.497
5,4,100106,แขวง เสาชิงช้า,Sao Chingcha,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.753,100.500
6,4,100107,แขวง บวรนิเวศ,Bowon Niwet,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.757,100.501
7,4,100108,แขวง ตลาดยอด,Talat Yot,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.760,100.498
8,4,100109,แขวง ชนะสงคราม,Chana Songkhram,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.762,100.495
9,4,100110,แขวง บ้านพานถม,Ban Phan Thom,1001,เขต พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.762,100.503

##### Understand the data set: Each column is represented 
      - TA_ID       is Neighborhood ID
      - TAMBON_E    is Neighborhood Name in English
      - TAMBON_T    is Neighborhood Name in Thai
      - AM_ID       is Borough ID
      - AMPHOE_E    is Borough Name in English
      - AMPHOE_T    is Borough Name in Thai
      - CH_ID       is City ID
      - CHANGWAT_E  is CITY Name in English
      - CHANGWAT_T  is CITY Namein Thai
      
We prepare data set follow these
1. Select 'Bangkok' 
2. Select column 'TA_ID', 'TAMBON_E','AMPHOE_E', 'LAT', 'LONG'
3. Change column_name 
      - TA_ID      to NBH_ID
      - TAMBON_E   to Neigborhood
      - AMPHOE_E   to Borough
      - LAT        to latitude
      - LONG       to longitude

In [108]:
# Select 'Bangkok'
DF = DF[DF['CHANGWAT_E'] == 'Bangkok']
# Select column
BKKDF = pd.DataFrame(DF[['TA_ID', 'AMPHOE_E','TAMBON_E', 'LAT','LONG']])
# Change column_name
BKKDF.rename(columns = {'TA_ID':'NBH_ID','AMPHOE_E':'Borough', 'TAMBON_E':'Neighborhood', 'LAT':'Latitude', 'LONG':'Longitude'}, inplace = True)
BKKDF.head(10)

   NBH_ID      Borough                Neighborhood  Latitude  Longitude
0  100101  Phra Nakhon  Phra Borom Maha Ratchawang    13.751    100.492
1  100102  Phra Nakhon         Wang Burapha Phirom    13.744    100.499
2  100103  Phra Nakhon            Wat Ratchabophit    13.750    100.499
3  100104  Phra Nakhon                  Samran Rat    13.751    100.503
4  100105  Phra Nakhon            San Chaopho Suea    13.754    100.497
5  100106  Phra Nakhon                Sao Chingcha    13.753    100.500
6  100107  Phra Nakhon                 Bowon Niwet    13.757    100.501
7  100108  Phra Nakhon                   Talat Yot    13.760    100.498
8  100109  Phra Nakhon             Chana Songkhram    13.762    100.495
9  100110  Phra Nakhon               Ban Phan Thom    13.762    100.503

In [3]:
print ('Nunber of Borough = ', BKKDF['Borough'].nunique())
print ('Number of Neighborhood = ', BKKDF['Neighborhood'].nunique())

Nunber of Borough =  50
Number of Neighborhood =  154

#### Save data for next use

#### 2.2 Number of Household
Number of Household divide by neighbor got from here
http://stat.bora.dopa.go.th/new_stat/webPage/statByYear.php

In [4]:
import pandas as pd 
NumHouseDF = pd.read_excel('data/POP.xlsx') 
NumHouseDF.head(10)

    TA_ID  MALE  FEMALE  TOTAL  HOUSEHOLD
0  100101  2358    1595   3953       1245
1  100102  5911    5516  11427       5361
2  100103  1489    1825   3314        984
3  100104  1710    1611   3321       1139
4  100105  1404    1874   3278        998
5  100106  1064    1228   2292        704
6  100107  2127    2710   4837       1615
7  100108  1116    1371   2487       1193
8  100109   943    1025   1968        829
9  100110  2972    3841   6813       2034

In [5]:
# Select column
HDF = NumHouseDF[['TA_ID', 'TOTAL','HOUSEHOLD']].copy()
# Change column_name
columns = ['NBH_ID', 'Population', 'Household']
HDF.columns = [columns]                      
HDF.head(5)

   NBH_ID Population Household
0  100101       3953      1245
1  100102      11427      5361
2  100103       3314       984
3  100104       3321      1139
4  100105       3278       998

In [111]:
HDF['Household'].sum()

Household    2354152
dtype: int64

In [6]:
print ('Number of Neighborhood = ', HDF['NBH_ID'].nunique())

Number of Neighborhood =  NBH_ID    154
dtype: int64

#### 2.3 Venues from Foursquare
From Borough, Neighborhood and Coordinates (latitude/longitude) in 2.1, we will request and get venues from Foursquare in each Neighbor and consider venues category name : 'Pet Store' / 'Pet Service'

In [7]:
import json 
import requests 
from pandas.io.json import json_normalize 
print('Libraries imported.')

Libraries imported.

In [8]:
CLIENT_ID = 'GMWUCCBSTVJ0FWQMEWXKSBAUFNBP2DDTDDIS4PV4GKGOKV2L' # your Foursquare ID
CLIENT_SECRET = 'NNYNVNHKHD55AXIRDF4PCZTCOLUMCBOFAYA3GQCT04P5AIAQ' # your Foursquare Secret
VERSION = '20180604'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: GMWUCCBSTVJ0FWQMEWXKSBAUFNBP2DDTDDIS4PV4GKGOKV2L
CLIENT_SECRET:NNYNVNHKHD55AXIRDF4PCZTCOLUMCBOFAYA3GQCT04P5AIAQ

#### function to the venues from all neighborhoods in Bangkok

In [9]:
def getNearbyVenues(names, latitudes, longitudes, radius):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&query={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            query,
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()['response']['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues )

#### Important Note : To get venues
##### query : 'Pet Store'
##### LIMIT : 1000
##### radius : 2000

In [10]:
LIMIT = 1000
radius = 2000
query = 'Pet Store'
BKK_venues = getNearbyVenues(names = BKKDF.iloc[:, 2], latitudes = BKKDF.iloc[ : , 3], longitudes = BKKDF.iloc[ : ,4], radius = radius)

Phra Borom Maha Ratchawang
Wang Burapha Phirom
Wat Ratchabophit
Samran Rat
San Chaopho Suea
Sao Chingcha
Bowon Niwet
Talat Yot
Chana Songkhram
Ban Phan Thom
Bang Khun Phrom
Wat Sam Phraya
Dusit
Wachira Phayaban
Suan Chitlada
Si Yaek Maha Nak
Thanon Nakornchaisi
Khatumlai
Nong Chok
Khlong Sib
Khlong Sib Song
Kok Fad
Khu Fung Nua
Lum Pakshee
Lum Toyting
Maha Prutharam
Silom
Suriwong
Bang Rak
Si Phraya
Anusoavaree
Tha Rang
Khlong Jan
Hua Mark
Rong Mueang
Wangmai
Pathum Wan
Lumpini
Pom Prap
Wat Thep Si Rin
Khlong Mahadthai
Ban Bath
Wat Som Manut
Bang Jak Phra
Min buri
San Sab
Lat Krabang
Khlong Song Ton Nun
Khlong Sam Phavet
Lumphatu
Thub Yoa
Khum Thong
Chongnonsi
Bang Phong Phang
Chakawat
Samphuntawong
Talat Noi
Samsean Nai
Wat Kanlaya
Hirunruji
Bang Yi Rua
Bookalo
Talat Phu
Wat Arun
Wat Tha Phra
Huai Khwang
Bangkapi
Samsean Nok
Somdej Choa Phraya
Khlongsarn
Banglampu Lang
Khlong Ton Si
Khlong Rakphra
Taling Chan
ChimPhee
Bang Phom
Bang Ramad
Bang Chuang Nung
Siriraj
Ban Changlor
Bang Khunnon
Bang Khun Si
Arun Amarin
Tha Kham
Sam Dum
Bang Wa
Bang Duan
Bang Jak
Bang Wak
Khlong Kwang
Pak Khlong Phasi Chareon
Kuhasawan
Nong Khaem
Nong Kang Phu
Rat burana
Bang Pakok
Bang Phlat
Bang Or
Bang Bumru
Bang Yi Khan
Din Daeng
Khlong Kum
Thung Watdon
Yarn Nava
Thung Mahamek
Bang Su
Latyoa
Bang Kho Laem
Wat Phrayakai
Bang Khoa
Prawet
Nong Bon
Dok Mai
Khlong Toei
Khlongton
Phrakanong
Suan Luang
Bang Khun Thein
Bang Kloa
Bangmod
Jomthong
Si kun
Thung Phayathai
Thanon Phayathai
Thanon Petchburi
Makasan
Lat Phroa
Jorakaebua
Klong Teoi Nua
Khlongton Nua
Phrakanong Nua
Bangkhae
Bangkhae Nua
Bang Phai
Luk Song
Thung Song Hong
Talat Bangkean
Sai Mai
Au Nerng
Khlong Thanon
Khanna Yoa
Saphan Sung
Wang Thong Lang
Sam Wa Tawantok
Sam Wa Tawanook
Bang Chan
Sai Kong Din
Sai Kong Din Tai
Bang Na
Thawi Watthana
Sala Thammasarn
Bang Mod
Thung Khu
Bang Bon

#### check the size of the resulting venues dataframe

In [11]:
print(BKK_venues.shape)
BKK_venues.head(10)

(627, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Phra Borom Maha Ratchawang,13.751,100.492,เค ดี รักษาสัตว์,13.749515,100.499724,Pet Store
1,Phra Borom Maha Ratchawang,13.751,100.492,ด๊อกสตอรี่,13.741021,100.483650,Pet Store
2,Phra Borom Maha Ratchawang,13.751,100.492,รพ.สัตว์สวนหลวงสัตวแพทย์,13.756317,100.478070,Pet Store
3,Phra Borom Maha Ratchawang,13.751,100.492,Money Pet Shop (มันนี่เพ็ทช็อป),13.755455,100.477379,Pet Store
4,Phra Borom Maha Ratchawang,13.751,100.492,Ing Ing Petshop,13.733627,100.495536,Pet Store
5,Phra Borom Maha Ratchawang,13.751,100.492,บ้านร้านค้า (อาหารสัตว์),13.766532,100.501288,Pet Store
6,Wang Burapha Phirom,13.744,100.499,เค ดี รักษาสัตว์,13.749515,100.499724,Pet Store
7,Wang Burapha Phirom,13.744,100.499,Ing Ing Petshop,13.733627,100.495536,Pet Store
8,Wang Burapha Phirom,13.744,100.499,ด๊อกสตอรี่,13.741021,100.483650,Pet Store
9,Wang Burapha Phirom,13.744,100.499,Soda Pup Pet Shop,13.747884,100.516465,Pet Store

In [113]:
BKK_venues.to_csv('data/BKK_venues.csv')

### Now we get all Data !!!!!!!

#### 2.4 How to find the Potential Location
After request, get and merge all dataset together, we will get table of number of Pet Store and number of Household by each Neighborhood. To find the potential in each Neighborhood as follows.
     
 (1)...Household Proportion = (number of Household)/(Total Household)
 
 (2)...Competitive Proportion = (number of Pet Store)/(Total Pet Store)
 
 (3)...Potential Index = normalized(House Proportion)*(1-normalized(Competitive Proportion))

We will compare Potential index and select Neighborhood which the highest index to recommend for setting up Pet Store.

#### End of Week 1 ......

#### Start Week 2 here .......

### 3. Methodogy to Find the Potential Neighborhood
After get the all required data, we explore data following 
#### 3.1 Explore number of Household in Bangkok
Make new data frame BKKDF + household

In [12]:
BKKDF['Household'] = HDF['Household']
BKKDF.head(10)

,NBH_ID,Borough,Neighborhood,Latitude,Longitude,Household
0,100101,Phra Nakhon,Phra Borom Maha Ratchawang,13.751,100.492,1245
1,100102,Phra Nakhon,Wang Burapha Phirom,13.744,100.499,5361
2,100103,Phra Nakhon,Wat Ratchabophit,13.750,100.499,984
3,100104,Phra Nakhon,Samran Rat,13.751,100.503,1139
4,100105,Phra Nakhon,San Chaopho Suea,13.754,100.497,998
5,100106,Phra Nakhon,Sao Chingcha,13.753,100.500,704
6,100107,Phra Nakhon,Bowon Niwet,13.757,100.501,1615
7,100108,Phra Nakhon,Talat Yot,13.760,100.498,1193
8,100109,Phra Nakhon,Chana Songkhram,13.762,100.495,829
9,100110,Phra Nakhon,Ban Phan Thom,13.762,100.503,2034

Now, we get number of household in each neighborhood on above data frame 
#### Number of neighborhood and total household in Bangkok

In [13]:
print ('Number of Neighborhood = ', BKKDF['NBH_ID'].nunique())
print ('Number of Neighborhood = ', BKKDF['Neighborhood'].nunique())
print ('Total Number of Household', BKKDF['Household'].sum())

Number of Neighborhood =  154
Number of Neighborhood =  154
Total Number of Household 2354152

#### 3.2 Explore number of Pet Store in Bangkok
From Foursquare

In [14]:
print ('Number of Pet Store in Bangkok = ', BKK_venues.shape[0])
BKK_venues.head(5)

Number of Pet Store in Bangkok =  627

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Phra Borom Maha Ratchawang,13.751,100.492,เค ดี รักษาสัตว์,13.749515,100.499724,Pet Store
1,Phra Borom Maha Ratchawang,13.751,100.492,ด๊อกสตอรี่,13.741021,100.483650,Pet Store
2,Phra Borom Maha Ratchawang,13.751,100.492,รพ.สัตว์สวนหลวงสัตวแพทย์,13.756317,100.478070,Pet Store
3,Phra Borom Maha Ratchawang,13.751,100.492,Money Pet Shop (มันนี่เพ็ทช็อป),13.755455,100.477379,Pet Store
4,Phra Borom Maha Ratchawang,13.751,100.492,Ing Ing Petshop,13.733627,100.495536,Pet Store

#### Number of Pet Store in each Neighborhood

In [15]:
GBKKDF = BKK_venues.groupby('Neighborhood', as_index = False).agg('count')
GBKKDF.head(10)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Anusoavaree,5,5,5,5,5,5
1,Arun Amarin,4,4,4,4,4,4
2,Au Nerng,3,3,3,3,3,3
3,Ban Bath,1,1,1,1,1,1
4,Ban Changlor,4,4,4,4,4,4
5,Ban Phan Thom,3,3,3,3,3,3
6,Bang Bon,2,2,2,2,2,2
7,Bang Bumru,5,5,5,5,5,5
8,Bang Chan,3,3,3,3,3,3
9,Bang Chuang Nung,4,4,4,4,4,4

In [16]:
newGBKKDF = GBKKDF[['Neighborhood', 'Venue']]
newGBKKDF.head(10)

       Neighborhood  Venue
0       Anusoavaree      5
1       Arun Amarin      4
2          Au Nerng      3
3          Ban Bath      1
4      Ban Changlor      4
5     Ban Phan Thom      3
6          Bang Bon      2
7        Bang Bumru      5
8         Bang Chan      3
9  Bang Chuang Nung      4

#### Unique Neighborhood
Find neighborhood that have Pet Store

In [17]:
print ('Only ', newGBKKDF['Neighborhood'].nunique(),' neighborhoods from ', BKKDF['Neighborhood'].nunique())

Only  138  neighborhoods from  154

#### 3.3 Data Analysis
3.3.1 Make New data frame

In [83]:
newDF = BKKDF[['Neighborhood','Household']]
newDF.head(10)

                 Neighborhood  Household
0  Phra Borom Maha Ratchawang       1245
1         Wang Burapha Phirom       5361
2            Wat Ratchabophit        984
3                  Samran Rat       1139
4            San Chaopho Suea        998
5                Sao Chingcha        704
6                 Bowon Niwet       1615
7                   Talat Yot       1193
8             Chana Songkhram        829
9               Ban Phan Thom       2034

3.3.2 Put Pet Store to each neighborhood

In [84]:
newDF_1 = pd.merge(newDF, newGBKKDF, how = 'left', on = 'Neighborhood')
newDF_1.rename(columns ={'Venue': 'Pet Store'}, inplace = True)
newDF_1.head(10)

                 Neighborhood  Household  Pet Store
0  Phra Borom Maha Ratchawang       1245        6.0
1         Wang Burapha Phirom       5361        4.0
2            Wat Ratchabophit        984        5.0
3                  Samran Rat       1139        3.0
4            San Chaopho Suea        998        3.0
5                Sao Chingcha        704        3.0
6                 Bowon Niwet       1615        4.0
7                   Talat Yot       1193        3.0
8             Chana Songkhram        829        5.0
9               Ban Phan Thom       2034        3.0

Above table show nunber of household and number of pet store in neighborhood

3.3.3 Find Potential Location

In [85]:
# replace 0 for Pet Store = NaN
newDF_1['Pet Store'].fillna(0, inplace=True)
# Find Household proportion
newDF_1['Household Proportion'] = newDF_1['Household']/newDF_1['Household'].sum()
# Find Competitive Ratio
newDF_1['Competitive Proportion'] = newDF_1['Pet Store']/newDF_1['Pet Store'].sum()
newDF_1.head(10)

,Neighborhood,Household,Pet Store,Household Proportion,Competitive Proportion
0,Phra Borom Maha Ratchawang,1245,6.0,0.000529,0.009569
1,Wang Burapha Phirom,5361,4.0,0.002277,0.006380
2,Wat Ratchabophit,984,5.0,0.000418,0.007974
3,Samran Rat,1139,3.0,0.000484,0.004785
4,San Chaopho Suea,998,3.0,0.000424,0.004785
5,Sao Chingcha,704,3.0,0.000299,0.004785
6,Bowon Niwet,1615,4.0,0.000686,0.006380
7,Talat Yot,1193,3.0,0.000507,0.004785
8,Chana Songkhram,829,5.0,0.000352,0.007974
9,Ban Phan Thom,2034,3.0,0.000864,0.004785

3.3.4 Normalize Household Porportion and Competitive Proportion)

In [86]:
from sklearn.preprocessing import minmax_scale
def normalized(data):
    normalized_data = minmax_scale(data)
    return normalized_data

newDF_1['Normalized(Household Proportion)'] = normalized(np.array(newDF_1['Household Proportion']))
newDF_1['Normalized(Competitive Proportion)'] = normalized(np.array(newDF_1['Competitive Proportion']))
# Find (1-Normalized(Competitive Proportion))
newDF_1['(1-Normalized(Competitive Proportion))'] = 1-newDF_1['Normalized(Competitive Proportion)']
newDF_1.head(10)

,Neighborhood,Household,Pet Store,Household Proportion,Competitive Proportion,Normalized(Household Proportion),Normalized(Competitive Proportion),(1-Normalized(Competitive Proportion))
0,Phra Borom Maha Ratchawang,1245,6.0,0.000529,0.009569,0.015475,0.3750,0.6250
1,Wang Burapha Phirom,5361,4.0,0.002277,0.006380,0.085935,0.2500,0.7500
2,Wat Ratchabophit,984,5.0,0.000418,0.007974,0.011007,0.3125,0.6875
3,Samran Rat,1139,3.0,0.000484,0.004785,0.013661,0.1875,0.8125
4,San Chaopho Suea,998,3.0,0.000424,0.004785,0.011247,0.1875,0.8125
5,Sao Chingcha,704,3.0,0.000299,0.004785,0.006214,0.1875,0.8125
6,Bowon Niwet,1615,4.0,0.000686,0.006380,0.021809,0.2500,0.7500
7,Talat Yot,1193,3.0,0.000507,0.004785,0.014585,0.1875,0.8125
8,Chana Songkhram,829,5.0,0.000352,0.007974,0.008354,0.3125,0.6875
9,Ban Phan Thom,2034,3.0,0.000864,0.004785,0.028982,0.1875,0.8125

3.3.5 Potential Index

Potential Index = normalized(HouseHold Proportion)*(1-normalized(Competitive Proportion))

High Index is more potential than Low Index

In [88]:
newDF_1['Potential Index'] = newDF_1['Normalized(Household Proportion)']*newDF_1['(1-Normalized(Competitive Proportion))']       
newDF_1.sort_values('Potential Index', ascending = False, inplace = True)
newDF_1.reset_index(drop = True, inplace = True)
newDF_1.head(10)

,Neighborhood,Household,Pet Store,Household Proportion,Competitive Proportion,Normalized(Household Proportion),Normalized(Competitive Proportion),(1-Normalized(Competitive Proportion)),Potential Index
0,Sam Dum,58757,0.0,0.024959,0.000000,1.000000,0.0000,1.0000,1.000000
1,Tha Rang,50373,3.0,0.021398,0.004785,0.856478,0.1875,0.8125,0.695888
2,Anusoavaree,56825,5.0,0.024138,0.007974,0.966927,0.3125,0.6875,0.664762
3,Hua Mark,54449,5.0,0.023129,0.007974,0.926253,0.3125,0.6875,0.636799
4,Bang Su,44254,3.0,0.018798,0.004785,0.751729,0.1875,0.8125,0.610780
5,Khlong Thanon,41891,3.0,0.017795,0.004785,0.711278,0.1875,0.8125,0.577913
6,Bang Chan,39395,3.0,0.016734,0.004785,0.668550,0.1875,0.8125,0.543197
7,Min buri,44527,5.0,0.018914,0.007974,0.756402,0.3125,0.6875,0.520027
8,Khlong Jan,47670,6.0,0.020249,0.009569,0.810206,0.3750,0.6250,0.506379
9,Tha Kham,28383,0.0,0.012057,0.000000,0.480040,0.0000,1.0000,0.480040

#### 4. Results

In [107]:
print ('TOP 5 Potential Neighborhood for Setting up Pet Store in Bangkok')
print ('The 1st Potential Neighborhood is "', newDF_1['Neighborhood'][0],'"')        
print ('The 2nd Potential Neighborhood is "', newDF_1['Neighborhood'][1],'"')   
print ('The 3rd Potential Neighborhood is "', newDF_1['Neighborhood'][2],'"')   
print ('The 4th Potential Neighborhood is "', newDF_1['Neighborhood'][3],'"')   
print ('The 5th Potential Neighborhood is "', newDF_1['Neighborhood'][4],'"')

TOP 5 Potential Neighborhood for Setting up Pet Store in Bangkok
The 1st Potential Neighborhood is " Sam Dum "
The 2nd Potential Neighborhood is " Tha Rang "
The 3rd Potential Neighborhood is " Anusoavaree "
The 4th Potential Neighborhood is " Hua Mark "
The 5th Potential Neighborhood is " Bang Su "

#### 5. Discussion 
 - Coordinate(latitude/longitude) are very important. Some borough/neighborhood are close, some are far. Map will make more under stand and clear.
 - When get request venues from foursquare, alway need to send latitude and longitude to explore venues of destination.
 - In case of lack of coordinates, geocoder library can find lat./long. by use only name of destination.
 - This project use 2 factor to find potential neighborhood called Potential index, number of household and number of pet store.
 - Number of household is represents to demand. The high number of household show more demand than the low number of household. It is positive correlation with potential index.
 - Number of pet store is represent to a competition. It is negative correlation with potential index.
 - Completely and correctly of data from Foursquare is effect to quality of project directly.
 - This project can help reduce time to find suitable location and make decision base on real data. 
 - No only pet store, we can change business, city, borough and neighborhood by this concept.

#### 6. Conclusion and Summary
Although, there are a lot of pet store in Bangkok, this project can help to find space and recommend the potential by ranking. It help to reduce process time and cost of business. It make advantage for business competition and can applied to other business.

#### End of Week 2 ......
#### Thank You